{% load static %}
<!-- Start Footer 
============================================= -->
<footer>
    <div class="f-items default-padding">
        <div class="container">
            <div class="row">

                <!-- ABOUT -->
                <div class="col-xl-4 col-lg-5 item">
                    <div class="f-item">
                        <h4>About Medofusion</h4>
                        <p>
                            Medofusion provides advanced surgical supplies and medical engineering solutions,
                            including modular operation theaters, medical systems, hospital furniture,
                            and equipment for healthcare institutions.
                        </p>

                        <h2>
                            <img src="{% static 'assets/img/icon/1.png' %}" alt="">
                            +91 98958 96035
                        </h2>

                        <div class="opening-info">
                            <h5>Business Hours</h5>
                            <ul>
                                <li>
                                    <span>Monday - Saturday :</span>
                                    <div class="text-end">9:30 AM - 6:30 PM</div>
                                </li>
                                <li>
                                    <span>Sunday :</span>
                                    <div class="text-end closed">Closed</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End ABOUT -->

                <!-- QUICK LINKS -->
                <div class="col-xl-3 offset-xl-1 col-md-6 col-lg-4 item">
                    <div class="f-item link">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'products' %}">Products</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End QUICK LINKS -->

                <!-- CONTACT / LOCATIONS -->
                <div class="col-xl-4 col-lg-3 col-md-6 item">
                    <div class="f-item">
                        <h4>Our Locations</h4>

                        <p>
                            <strong>MEDOFUSION OPC Pvt Ltd</strong><br>
                            243I/B38, 3rd Floor,<br>
                            KKK Golf Link Tower, Chevayur,<br>
                            Kozhikode - 673017
                        </p>

                        <p>
                            <strong>MEDOFUSION SURGICALS LLP</strong><br>
                            B01/11/73, Near Emirates Bakery,<br>
                            Aripra, Malappuram - 679321
                        </p>
                    </div>
                </div>
                <!-- End LOCATIONS -->

            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        © Copyright 2025, All Rights Reserved. Powered By <a href="https://www.ecodians.com/" target="_blank">Ecodians</a>
                    </p>
                </div>
                <div class="col-lg-6 text-end link">
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->

<!-- JS FILES
============================================= -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/count-to.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
<script src="{% static 'assets/js/circle-progress.js' %}"></script>
<script src="{% static 'assets/js/validnavs.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
