{% load static %}
<!-- ========== Meta Tags ========== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="MediHub - Medical & Health Template">



<!-- ========== Favicon Icon ========== -->
<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

<!-- ========== Start Stylesheet ========== -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/validnavs.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/helper.css' %}" rel="stylesheet">
<link href="{% static 'style.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
<!-- ========== End Stylesheet ========== -->