{% load static %}
<!-- ========== Meta Tags ========== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="MediHub - Medical & Health Template">



<!-- ========== Favicon Icon ========== -->
<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

<!-- ========== Start Stylesheet ========== -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/validnavs.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/helper.css' %}" rel="stylesheet">
<link href="{% static 'style.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
        .banner-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .blue-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0e696775;
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(3px);
            z-index: 2;
        }
        
        /* Ensure content sits above overlay */
        .breadcrumb-area {
            position: relative;
            overflow: hidden;
            z-index: 1;
        }
        
        .breadcrumb-area .container {
            position: relative;
            z-index: 3;
        }
    </style>
    <!-- ========== End Stylesheet ========== -->